.idea/
.gradle/
build/
obj/
*.iml
local.properties
*.keystore
gradle.properties
.gradle/
captures/
build/
gradle/
metadata/
tools/
.idea/
TMessagesProj/build/
TMessagesProj/config/
TMessagesProj/libs/
TMessagesProj/test/
TMessagesProj/google-services.json
TMessagesProj/src/androidTest
*.hprof
TMessagesProj/armv7/
TMessagesProj/armv7_SDK23/
TMessagesProj/x86/
TMessagesProj/x86_SDK23/
TMessagesProj/google-services.json/
TMessagesProj/.externalNativeBuild/
TMessagesProj/obj/

TMessagesProj/src/main/java/org/telegram/messenger/BuildVars.java
